@using CarParkingAssistant.Core.Models
@model AdminParkingViewModel

<div class="parking-list">
    <table>
        <tr>
            <th>Address</th>
            <th>Slots</th>
            <th>Price</th>
            <th>Worker</th>
        </tr>
        @foreach (var parking in Model.Parkings)
        {
            <tr>
                <td>@parking.Address</td>
                <td>@parking.NumSlots</td>
                <td>@parking.Price</td>
                <td>@($"{parking.Worker.FirstName} {parking.Worker.LastName}")</td>
            </tr>
        }
    </table>


    <a asp-area="admin" asp-action="add" asp-controller="parking">
        Add
    </a>
</div>